.land-page-content {
    padding: 0 0 0 10%;
    height: 100vh;
    overflow: hidden;
}

.my-img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 400px;
    margin: auto 100px 0 100px;
    padding-top: 100px;
}

.my-pic {
    min-width: 100px;
    max-width: 415px;
    width: 75%;
}

.links-and-logo {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-evenly;
}

.logo {
    max-width: 620px;
    min-width: 300px;
    width: 85%;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 0.5fr 2fr;
    width: 115%;
    max-height: 20%;
    margin-top: -50px;
}

.link {
    font-size: 45px;
    min-width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


.link a {
    text-decoration: none;
    color: black;
}

.link a:hover {
    font-size: 50px;
    min-width: 230px;
}

.link1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.link2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}

.link3 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
}

.link4 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 3;
}

.asterisk {
    font-family: 'PermMarker';
    font-size: 55px;
    margin: auto 15px auto 0;
    display: inline-block;
}

.link-text {
    text-decoration: underline;
    margin: auto 1px;
    display: inline-block;
}

.cv {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0 0;
    width: 45px;
    cursor: pointer;
}

.cv:hover {
    width: 55px;
    margin: 15px 15px 0 0;
}

.arrow {
    height: 100px;
    margin: 0 5px 10px 0;
    animation: MoveUpDown 2s ease-in-out infinite;
    position: absolute;
    right: 0;
    bottom: 0;
}

@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 15px;
    }
}

@media only screen and (max-width: 800px) {
    .arrow {
            height: 60px;
            margin: 0 0px 2.5px 0;
    }

    @keyframes MoveUpDown {

        0%,
        100% {
            bottom: 0;
        }

        50% {
            bottom: 7.5px;
        }
    }


    .land-page-content {
        padding: unset;
    }

    .cv {
        margin: 45px 0 0 70%;
        transform: rotate(-3deg);
        width: 35px;
        right: unset;
        left: 0;
    }

    .cv:hover {
        width: 35px;
        margin: 45px 50% 0 0;
    }

    .my-img-container {
        margin: 0;
    }

    .my-pic {
        position: absolute;
        bottom: 0;
        right: 0;
        top: unset;
        height: 55vh;
        width: unset;
    }
    
    .links-and-logo {
        padding-left: 0%;
        justify-content: start;
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .logo {
        flex: unset;
        width: 100%;
        margin: auto;
    }

    .links {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: 40px 5px 80px 5px;
        max-height: unset;
        flex: 1;
    }

    .link {
        font-size: 40px;
    }

    .link1 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .link2 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
        margin-left: 30px;
    }

    .link3 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .link4 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
        margin-left: 30px;
    }
    
    .asterisk {
        font-size: 40px;
    }
}