.header {
    height: 100vh;
    /* background-image: linear-gradient(transparent, #18181d 85%), url(/22.jpg); */
    background-image: url(/IdeasPaperBig.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.header-text {
    margin: 5vh 2vw;
    display: inline-block;
}

.header-my-descirption {
    margin: 5px 35px;
    text-shadow: 2px 2px #301e21;
    padding: 10px 45px;
    display: inline-block;
    /* border-radius: 15px !important;
    box-shadow: #301e21 -8px 4px !important;
    opacity: 0.75; */
}

.pos {
    position: absolute;
    bottom: 2vh;
    right: 30vw;
}

.tag {
    background: #301e21;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 15px;
    display: inline-block;
    text-align: center;
}

.header-text p {
    margin: 10px;
    text-shadow: 2px 2px #301e21;
}

.name-text {
    font-size: 8vw !important;
    font-weight: 600 !important;
    color: linear-gradient(270deg #F3B123, #D1981D);
}

.me {
    width: 22vw;
    margin: 170px 100px;
    padding: 5px;
}