.stepper-container {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    right: 25px;
    z-index: 10000;
    transition: opacity 0.5s ease-in-out;
}

.step-connector {
    margin: auto !important;
}

.vertical-line {
    min-height: 10vh !important;
}

.step-icon:hover {
    color: #396642;
    transform: scale(1.2);
}