.portfolio-bg {
    height: 100vh;
    /* background-image: linear-gradient(transparent, #18181d 85%), url(/22.jpg); */
    background-image: url(/paper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0 !important;
    padding: 30px 60px !important;
}